# 1. Write a code to reverse a string.

In [ ]:
def reverse_string(s):
    return s[::-1]

s = "Hello, World!"
reversed_string = reverse_string(s)
print(reversed_string)

!dlroW ,olleH

# 2. Write a code to count the number of vowels in a string

In [ ]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = sum(1 for char in s if char in vowels)
    return count

s = "Hello, World!"
vowel_count = count_vowels(s)
print(vowel_count)

3

# 3.  Write a code to check if a given string is a palindrome or not.

In [ ]:
def palindrome(s):
    return s == s[::-1]

s = "madam"
result = palindrome(s)
print(result)

True

# 4.  Write a code to check if two given strings are anagrams of each other.

In [ ]:
def anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

s1 = "listen"
s2 = "silent"
result = anagrams(s1, s2)
print(result)

True

# 5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
def find_occurrences(s, substring):
    occurrences = []
    start = 0

    while True:
        start = s.find(substring, start)

        if start == -1:
            break

        occurrences.append(start)
        start += len(substring)

    return occurrences

s = "Rohan is playing cricket with ball , but he lost his ball."
substring= "ball"
positions = find_occurrences(s, substring)
print(positions)

[30, 53]

# 6. Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compress_string(s):
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    compressed.append(s[-1] + str(count))

    compressed_string = ''.join(compressed)
    return compressed_string if len(compressed_string) < len(s) else s


original_string = "aaabbbcccdde"
compressed_string = compress_string(original_string)
print(compressed_string)

a3b3c3d2e1

# 7. Write a code to determine if a string has all unique characters.

In [ ]:
def unique_char(s):
    return len(s) == len(set(s))

string1 = "abcdef"
string2 = "aabbcc"
print(unique_char(string1))
print(unique_char(string2))

True
False

# 8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()
    else:
        return s.lower()

s = "Hello, World!"


upper_case_string = convert_case(s, to_upper=True)   # Convert to uppercase
print(upper_case_string)

lower_case_string = convert_case(s, to_upper=False)  # Convert to lowercase
print(lower_case_string)

HELLO, WORLD!
hello, world!

# 9. Write a code to count the number of words in a string.

In [ ]:
def count_words(s):

    words = s.split() # split the extra whitespaces
    return len(words)


sentence = "Hello, how are you doing today?"
word_count = count_words(sentence)
print(word_count)

6

# 10. Write a code to concatenate two strings without using the + operator.

In [ ]:
def concat_strings(s1, s2):
    return f"{s1} {s2}"

str1 = "Hello, "
str2 = "World!"
result = concat_strings(str1, str2)
print(result)

Hello,  World!

# 11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_occurrences(lst, element):
    while element in lst:
        lst.remove(element)
    return lst

list = [1, 2, 3, 4,  5, 3]
element_to_remove = 3
new_list = remove_occurrences(list, element_to_remove)
print(new_list)

[1, 2, 4, 5]

# 12. Implement a code to find the second largest number in a given list of integers

In [ ]:
def find_second_largest(lst):
    if len(lst) < 2:
        raise ValueError("List must contain at least two distinct elements.")


    largest = max(lst)


    lst = [x for x in lst if x != largest]  # remove all the largest number

    # Find the second largest number
    if len(lst) == 0:
        raise ValueError("List must contain at least two distinct elements.")

    second_largest = max(lst)
    return second_largest


lst = [10, 20, 4, 45, 99, 99]
second_largest = find_second_largest(lst)
print(second_largest)

45

# 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def count_occurrences(lst):
    count_dict = {}
    for element in lst:
        if element in count_dict:
            count_dict[element] += 1
        else:
            count_dict[element] = 1
    return count_dict


numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4,4]
occurrences = count_occurrences(numbers)
print(occurrences)

{1: 1, 2: 2, 3: 3, 4: 5}

# 14. Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    while left < right:

        lst[left], lst[right] = lst[right], lst[left] # Swap the elements at left and right indices

        # Move the pointers towards the center
        left += 1
        right -= 1


my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)

[5, 4, 3, 2, 1]

# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates(lst):
    seen = set()
    unique_list = []

    for element in lst:
        if element not in seen:
            unique_list.append(element)
            seen.add(element)

    return unique_list


original_list = [1, 2, 2, 3, 4, 4, 5, 6, 1, 7]
unique_list = remove_duplicates(original_list)
print(unique_list)

[1, 2, 3, 4, 5, 6, 7]

# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
def is_sorted(lst):
    if not lst or len(lst) == 1:
        return True

    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))

    return ascending or descending

list1 = [1, 2, 2, 3, 4]
list2 = [5, 4, 4, 3, 2, 1]
list3 = [1, 3, 2, 4]
list4 = []
list5 = [7]

print(is_sorted(list1))
print(is_sorted(list2))
print(is_sorted(list3))
print(is_sorted(list4))
print(is_sorted(list5))

True
True
False
True
True

# 17.Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0


    while i < len(list1) and j < len(list2): # Iterate through both lists and compare elements
        if list1[i] <= list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1


    while i < len(list1):                 # Append any remaining elements from list1
        merged_list.append(list1[i])
        i += 1

    while j < len(list2):                 # Append any remaining elements from list2
        merged_list.append(list2[j])
        j += 1

    return merged_list


list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged = merge_sorted_lists(list1, list2)
print(merged)

[1, 2, 3, 4, 5, 6, 7, 8]

# 18. Implement a code to find the intersection of two given lists.

In [ ]:
def intersection_with_duplicates(list1, list2):

    set2 = set(list2)
    return [item for item in list1 if item in set2]


list1 = [1, 2, 2, 3, 4, 5]
list2 = [2, 4, 4, 5, 6]
intersected_list = intersection_with_duplicates(list1, list2)
print(intersected_list)

[2, 2, 4, 5]

# 19. Create a code to find the union of two lists without duplicates.

In [ ]:
list1 = [23, 45, 65, 31, 1, 89]
list2 = [67, 89, 23, 45, 8, 90]
ans = list1 + [data for data in list2 if data not in list1]

print(ans)

The resultant merged list is:
[23, 45, 65, 31, 1, 89, 67, 8, 90]

# 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random

def shuffle(lst):
    n = len(lst)
    for i in range(n - 1, 0, -1):

        j = random.randint(0, i)   # Pick a random index from 0 to i


        lst[i], lst[j] = lst[j], lst[i]

# Example usage
my_list = [1, 2, 3, 4, 5]

shuffle(my_list)
print(my_list)

[5, 3, 1, 4, 2]

# 21.  Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [ ]:
def common_elements(tuple1, tuple2):

    set1 = set(tuple1)
    set2 = set(tuple2)

    common_set = set1 & set2

    return tuple(common_set)

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

# 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [ ]:
def get_set_from_input(prompt):

    input_str = input(prompt).strip()

    # Convert the comma-separated string to a list of integers
    num_list = [int(num) for num in input_str.split(',')]

    return set(num_list)

def main():

    set1 = get_set_from_input("Enter the first set of integers (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of integers (separated by commas): ")

    intersection = set1 & set2

    print("Intersection:", intersection)

if __name__ == "__main__":
    main()

Enter the first set of integers (separated by commas): 1,2,3,4
Enter the second set of integers (separated by commas): 4,3,5,7
Intersection: {3, 4}

# 23.  Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):

    result_tuple = tuple1 + tuple2
    return result_tuple


tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

# 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [3]:
set1 = set(input("Enter the first set of strings (separated by spaces): ").split())

set2 = set(input("Enter the second set of strings (separated by spaces): ").split())

print("Elements present in the first set but not in the second set:")
print(set1 - set2)

Enter the first set of strings (separated by spaces): 'ram', 'shyam', 'mohan'
Enter the second set of strings (separated by spaces): 'ram' , 'shyam' , 'rohit'
Elements present in the first set but not in the second set:
{"'mohan'", "'ram',", "'shyam',"}

# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [4]:
def get_tuple_range(original_tuple, start_idx, end_idx):

    return original_tuple[start_idx:end_idx]


original_tuple = tuple(input("Enter the elements of the tuple : ").split())

start_idx = int(input("Enter the start index: "))
end_idx = int(input("Enter the end index: "))

result_tuple = get_tuple_range(original_tuple, start_idx, end_idx)

print("New tuple containing elements within the specified range:")
print(result_tuple)

Enter the elements of the tuple : a b c d e f
Enter the start index: 2
Enter the end index: 7
New tuple containing elements within the specified range:
('c', 'd', 'e', 'f')

# 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [5]:
def get_input_set(prompt):
    input_str = input(prompt)
    return set(input_str)

set1 = get_input_set("Enter the first set of characters: ")

set2 = get_input_set("Enter the second set of characters: ")

union_set = set1 | set2

print("Union of the two sets of characters:")
print(union_set)

Enter the first set of characters: a b c d f g
Enter the second set of characters: b c  d h i
Union of the two sets of characters:
{'f', 'h', 'g', 'b', 'i', 'a', 'd', ' ', 'c'}

# 27.  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [6]:
def get_max_min_values(t):
    max_val = max(t)
    min_val = min(t)
    return max_val, min_val

input_tuple = tuple(map(int, input("Enter the elements of the tuple (separated by spaces): ").split()))

max_value, min_value = get_max_min_values(input_tuple)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Enter the elements of the tuple (separated by spaces): 2 3 4 5 6 788
Maximum value: 788
Minimum value: 2

# 28.  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [7]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1 | set2

intersection_set = set1 & set2

difference_set = set1 - set2

print("Union of the two sets:")
print(union_set)

print("Intersection of the two sets:")
print(intersection_set)

print("Difference of the two sets (set1 - set2):")
print(difference_set)

Union of the two sets:
{1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets:
{4, 5}
Difference of the two sets (set1 - set2):
{1, 2, 3}

# 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [8]:
def count_occurrences(t, element):
    return t.count(element)

input_tuple = tuple(map(int, input("Enter the elements of the tuple (separated by spaces): ").split()))

element = int(input("Enter the element to count: "))

count = count_occurrences(input_tuple, element)
print(f"The element {element} occurs {count} times in the tuple.")

Enter the elements of the tuple (separated by spaces): 1 2 3 5 777 8 7 7  9
Enter the element to count: 7
The element 7 occurs 2 times in the tuple.

# 30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [11]:
def get_input_set(prompt):
    input_str = input(prompt)
    return set(input_str.split())

set1 = get_input_set("Enter the first set of strings (separated by spaces): ")
set2 = get_input_set("Enter the second set of strings (separated by spaces): ")

symmetric_difference = set1 ^ set2

print("Symmetric difference of the two sets: symmetric_difference ")
print(symmetric_difference)

Enter the first set of strings (separated by spaces): mango banana apple
Enter the second set of strings (separated by spaces): banana guava papaya
Symmetric difference of the two sets: symmetric_difference
{'papaya', 'guava', 'mango', 'apple'}

# 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [12]:
def word_frequencies(word_list):
    freq_dict = {}
    for word in word_list:
        if word in freq_dict:
            freq_dict[word] += 1
        else:
            freq_dict[word] = 1
    return freq_dict

input_list = input("Enter a list of words (separated by spaces): ").split()

frequency_dict = word_frequencies(input_list)
print("Word frequencies:")
print(frequency_dict)

Enter a list of words (separated by spaces): apple apple banana cherry mango mango guava
Word frequencies:
{'apple': 2, 'banana': 1, 'cherry': 1, 'mango': 2, 'guava': 1}

# 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [15]:
def merge_dicts(dict1, dict2):
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict

dict1 = eval(input("Enter the first dictionary (in the format {key1: value1, key2: value2, ...}): "))
dict2 = eval(input("Enter the second dictionary (in the format {key1: value1, key2: value2, ...}): "))

merged_dict = merge_dicts(dict1, dict2)

print("Merged dictionary:")
print(merged_dict)

Enter the first dictionary (in the format {key1: value1, key2: value2, ...}): { 'a' : 1 , 'b' :2}
Enter the second dictionary (in the format {key1: value1, key2: value2, ...}): {'b' : 3 , 'c' : 4}
Merged dictionary:
{'a': 1, 'b': 5, 'c': 4}

# 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [17]:
def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

nested_dict = {
    'a': {
        'b': {
            'c': 77
        }
    }
}

keys = ['a', 'b', 'c']

value = get_nested_value(nested_dict, keys)

print(f"The value at the nested keys {keys} is: {value}")

The value at the nested keys ['a', 'b', 'c'] is: 77

# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [18]:
def sort_dict_by_value(d, descending=False):
    sorted_dict = dict(sorted(d.items(), key=lambda item: item[1], reverse=descending))
    return sorted_dict

if __name__ == "__main__":
    user_input = input("Enter a dictionary (in JSON format, e.g., {\"key1\": value1, \"key2\": value2}): ")

    import json
    try:
        input_dict = json.loads(user_input)
        if not isinstance(input_dict, dict):
            raise ValueError("Input is not a valid dictionary.")

        sort_order = input("Sort in descending order? (yes/no): ").strip().lower()
        descending = sort_order == 'yes'

        sorted_dict = sort_dict_by_value(input_dict, descending)

        print("Sorted dictionary:")
        print(sorted_dict)
    except (json.JSONDecodeError, ValueError) as e:
        print(f"Error: {e}")

Enter a dictionary (in JSON format, e.g., {"key1": value1, "key2": value2}): {"a": 3, "b": 1, "c": 2}
Sort in descending order? (yes/no): yes
Sorted dictionary:
{'a': 3, 'c': 2, 'b': 1}

# 35.  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [19]:
def invert_dict(d):
    inverted_dict = {}

    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]

    return inverted_dict

if __name__ == "__main__":
    import json

    user_input = input("Enter a dictionary (in JSON format, e.g., {\"key1\": value1, \"key2\": value2}): ")

    try:
        input_dict = json.loads(user_input)
        if not isinstance(input_dict, dict):
            raise ValueError("Input is not a valid dictionary.")

        inverted_dict = invert_dict(input_dict)

        print("Inverted dictionary:")
        print(inverted_dict)
    except (json.JSONDecodeError, ValueError) as e:
        print(f"Error: {e}")

Enter a dictionary (in JSON format, e.g., {"key1": value1, "key2": value2}): {"a": 1, "b": 2, "c": 3}
Inverted dictionary:
{1: ['a'], 2: ['b'], 3: ['c']}